/* Variables */
.header .container .hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.64;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
}

.header {
  padding-top: 1.25rem;
  padding-bottom: 2.0625rem;
  background-color: #edeef0;
}
.header .container {
  width: min(100% - 40px, 1110px);
  margin-inline: auto;
}
.header .container .navbar {
  margin-bottom: 0.875rem;
}
.header .container .navbar__list {
  display: flex;
  flex-wrap: wrap;
}
.header .container .navbar__link {
  display: block;
  letter-spacing: 0.1em;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  font-size: 1rem;
}
.header .container .navbar__link--active {
  color: #34547a;
  font-weight: 500;
}
.header .container .navbar__item {
  font-size: 0.6875rem;
}
.header .container .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.header .container .hero__title {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.header .container .hero__description {
  margin-bottom: 1.875rem;
  text-align: center;
  color: #727272;
}
.header .container .hero__button {
  min-width: 14.0625rem;
  min-height: 4.0625rem;
  text-transform: uppercase;
  padding: 0.5rem;
  background-color: #34547a;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
}

.section {
  padding: 1.875rem 0;
  text-align: center;
  background-color: #edeef0;
}
.section__title {
  margin-bottom: 1.25rem;
}
.section__description {
  color: #727272;
}

.about {
  background-color: #ffffff;
}

.experience {
  padding: 1.25rem 0 2.5rem;
  background-color: #34547a;
  color: #ffffff;
}
.experience__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.experience__item {
  display: flex;
  gap: 20px;
}
.experience__item-picture {
  order: -1;
}
.experience__item-image {
  display: block;
}
.experience__item-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 1;
}
.experience__item-number, .footer__title {
  font-size: 1.3125rem;
  font-weight: 500;
}

.container-sm {
  width: min(100% - 40px, 540px);
  margin-inline: auto;
}

.video {
  background-color: #edeef0;
  padding-bottom: 1.875rem;
}
.video__iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: 0;
  min-height: 12.5rem;
}

.footer {
  padding: 1.25rem 0;
  background-color: #34547a;
  color: #ffffff;
}
.footer__title {
  margin-bottom: 0.3125rem;
  text-align: center;
}
.footer__description {
  font-size: 0.8125rem;
  text-align: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .navbar__list {
    justify-content: center;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .navbar__item {
    font-size: 1rem;
  }
  .navbar__list {
    justify-content: center;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .header {
    padding-top: 4.3125rem;
    padding-bottom: 8.75rem;
  }
  .header .container .navbar {
    margin-bottom: 8.8125rem;
  }
  .header .container .navbar__list {
    gap: 1.6875rem;
    margin-left: 0.75em;
  }
  .header .container .hero {
    align-items: flex-start;
    max-width: 540px;
  }
  .header .container .hero__description {
    text-align: start;
    margin-bottom: 3.5625rem;
  }
  .section {
    padding: 6.25rem 0;
  }
  .section__title {
    margin-bottom: 2.25rem;
  }
  .experience {
    padding: 6.25rem 0;
  }
  .experience .container {
    margin-inline: auto;
    width: min(100% - 40px, 1110px);
  }
  .experience__container {
    justify-content: space-between;
    gap: 40px;
  }
  .video {
    padding-bottom: 6.25rem;
  }
  .video .container {
    margin-inline: auto;
    width: min(100% - 40px, 1110px);
  }
  .footer {
    padding: 3.125rem 0;
  }
  .footer__title, .footer__description {
    text-align: start;
  }
  .footer .container {
    margin-inline: auto;
    width: min(100% - 40px, 1110px);
  }
}/*# sourceMappingURL=style.css.map */